<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      margin: 0;
      padding: 0;
    }

    .container {
      max-width: 100%;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }

    .user-details {
      max-width: 600px;
      margin: 0 auto;
      background-color: #e2e6f0;
      padding: 10px 15px 10px 15px;
    }

    p {
      color: black;
    }

    li {
      color: #185ADB;
      margin-bottom: 10px;
    }

    .list-item {
      display: inline-block;
      width: 150px;
      font-weight: 600;
      margin-right: 5px;
      font-size: 13px;
    }

    .click-button {
      text-align: center;
    }

    .button-link {
      text-decoration: none;
      background-color: #185ADB;
      color: white !important;
      padding: 10px 20px;
      border-radius: 5px;
      display: inline-block;
    }

    .button-link:hover {
      background-color: #2663dd;
      color: white;
      opacity: 0.9;
    }

    .logo {
      max-width: 100%;
      width: 150px;
    }
  </style>
</head>

<body>
  <div class="container">
    <p>Dear Admin,</p>
    <p>The following organization has requested access to the KIKTEMP platform.</p>
    <div class="user-details">
      <ul>
        <li><strong class="list-item">Organization Name</strong> - {{ organizationName }}</li>
        <li><strong class="list-item">Contact Person Name</strong> - {{ contactPersonName }}</li>
        <li><strong class="list-item">Email Address</strong> - {{ emailAddress }}</li>
        <li><strong class="list-item">Contact Number</strong> - {{ contactNumber }}</li>
        <li><strong class="list-item">Country</strong> - {{ country }}</li>
        {{#if website}}
        <li><strong class="list-item">Website</strong> - <a href="{{ website }}" target="_blank">{{ website }}</a>
        </li>
        {{/if}}
      </ul>
    </div>
    <p>Please review the request and take appropriate action. You can control access by clicking the button below.
    </p>
    <div class="click-button" style="justify-content: center;">
      <a href="{{ loginUrl }}" class="button-link">
        Manage Access on KIKTEMP
      </a>
    </div>
    <p>Thank you,</p>
    <p>KIKBLOX Management</p>
    <img class="logo" src="https://kiktemp-images.blr1.digitaloceanspaces.com/kikblox_logo.png" alt="KIKBLOX Logo">
  </div>
</body>

</html>
